<!DOCTYPE html>
<html lang="pt-br" >
	<head th:replace="fragments/head :: head"></head>	
	<body>		
		<header th:replace="fragments/header :: header"></header>
		<div th:replace="fragments/menu :: menu"></div>
		
		<div class="container projetos">

			<h3 class="">Listagem de Projetos</h3>
			<a th:href="@{/projeto/adicionarProjeto}">
				<button type="button" class="btn btn-primary"><i class="material-icons">add_box</i>Adicionar Projeto</button>
			</a>

			<table class="table table-bordered">
				<thead>
					<tr>
					<th scope="col">Id</th>
					<th scope="col">Local</th>
					<th scope="col">Nome do Projeto</th>
					<th scope="col">Acoes</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="projeto : ${projetos}">
						<tr th:id="${projeto.id}">
							<th scope="row" th:text="${projeto.id}"></th>
							<td th:text="${projeto.local}"></td>
							<td th:text="${projeto.nome}"></td>
							<td>
								<a th:href="@{editarProjeto/__${projeto.id}__}">
									<i class="material-icons">edit</i>
								</a>
								<a th:href="@{excluirProjeto/__${projeto.id}__}" class="modal-delete-ordem" data-toggle="modal" data-target="#exluirModal">
									<i class="material-icons">delete</i>
								</a>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>


		<div class="modal fade" id="exluirModal" tabindex="-1" role="dialog" aria-labelledby="exluirModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body">
					Tem certeza que deseja excluir?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-action="" data-ordem-id="" id="delete-ordem">Sim</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="fragments/scripts :: scripts"></div>
		<script>
			$(document).ready(function(){
				$('.modal-delete-ordem').on('click', function(){
					var elem = $(this);

					$('#delete-ordem').attr('data-ordem-id', elem.closest('tr').attr('id'));
					$('#delete-ordem').attr('data-action', elem.attr('href'));
				});
				
				$('#delete-ordem').on('click', function(e){
					var elem = $(this);
					var ordemId = elem.attr('data-ordem-id');
					console.log(ordemId);
					$.ajax({
						type: "get",
						url: elem.attr('data-action'),
						dataType: "json",
						success: function (response) {	
							//Por questoes de implementacao a controller nao esta retornando JSON :()					
						}
					});				
					$('#exluirModal').modal('hide');
					$('#'+ordemId).fadeOut('slow');
					
					e.preventDefault();
				});					
			});
		</script>
	</body>
</html> 